# 정적 콘텐츠를 GitHub Pages에 배포
name: Deploy static content to Pages

on:
  # main브랜치 push시 실행
  push:
    branches: ["main"]

  # 워크플로우 수동실행 가능
  workflow_dispatch:

# GITHUB_TOKEN 권한설정
permissions:
  contents: read
  pages: write
  id-token: write

# 하나의 배포만 허용하고, 진행중인 실행 및 최근 대기중 실행을 건너뜀
# 프로덕션 배포 진행중인 실행 취소불가능
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # 배포
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Build
        run: pnpm build
      - name: Setup Pages
        uses: actions/configure-pages@v3
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: './dist'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
